@font-face {
    font-family: "Bungee";
    src: url(./Fonts/Bungee/Bungee-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./Fonts/Poppins/Poppins-Medium.ttf);
}



*
{
    margin: 0%;
    padding: 0%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;

}



.webheader
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webname{
    font-size: 300%;
    width: 18%;
    font-family: 'Bungee';
    color: white;
}


/* Main Section */

.mainback{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("./images/Find.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }


.results-container {
  display: none;
  width: 70%;
  max-width: 900px;

  margin-top: 40px;
  margin-bottom: 160px; /* space for input bar */

  font-family: 'Poppins', sans-serif;
  font-size: 13px;

  flex-direction: column;
  gap: 15px;

  padding: 20px;
  border-radius: 12px;

  background-color: #1a1a1a;
  color: white;
  

  border: 1px solid rgba(255, 255, 255, 0.2);
}




.chat-input-wrapper {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  width: 700px;
  max-width: 90%;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 18px;
  background: #ffffff;
  border-radius: 999px;

  z-index: 1000;
}


.chat-input{
  border: none;
  outline: none;
  flex: 0.9;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  background: #ffffff;
}

.send-btn{
 position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: #000;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-main{
  width: 100%;
  height: 5%;


  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  

  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  background-image: url("./images/background-image.jpg");
    background-size: cover;
}